<mat-toolbar class="custom-toolbar" color="primary">
  <span class="toolbar-text">SkySwift</span>
  <img src="../assets/logo.png" alt="Your Logo" class="logo">

  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>home</mat-icon>
    <span routerLink="">Home</span>
  </button>

  <span class="button-spacer"></span>


  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
    <span routerLink="/login">Login</span>
  </button>

  <span class="button-spacer"></span>

  <button mat-icon-button>
    <mat-icon>search</mat-icon>
    <span routerLink="/search">Search</span>
  </button>

  <span class="button-spacer"></span>

  <button mat-icon-button>
    <mat-icon>flight_takeoff</mat-icon>
    <span routerLink="/webcheckin">Web Check-in</span>
  </button>
</mat-toolbar>
