.custom-toolbar {
  height: 80px;
  display: flex;
  align-items: center;
}

.toolbar-text {
  font-style: italic;
  font-size: 30px; /* Adjust to reduce space between text and logo */
}

.logo {
  width: 100px;
  height: auto;
  margin: 20px 0; /* Adjust margin to reduce space around the logo */
}

.spacer {
  flex: 0.6;
}

.button-spacer {
  flex: 0.08;
}