<div class="container mt-5 admin-container">
    <h2 class="admin-title">Admin Page</h2>
    <div class="row mt-4">
      <div class="col-md-4">
        <button mat-stroked-button color="primary" class="btn-block admin-button" routerLink="/addFlight">Add Flight</button>
      </div>
      <div class="col-md-4">
        <button mat-stroked-button color="accent" class="btn-block admin-button" routerLink="/updateFlight">Update Flight</button>
      </div>
      <div class="col-md-4">
        <button mat-stroked-button color="warn" class="btn-block admin-button" routerLink="/deleteFlight">Delete Flight</button>
      </div>
    </div>
  </div>
