.cost-container {
    text-align: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px; /* Add rounded corners if desired */
    padding: 20px; /* Add padding for spacing within the form */
    max-height: 80vh; /* Set maximum height to 80% of the viewport height */
    overflow-y: auto;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  button {
    font-size: 16px;
  }